.container__menu-title {
  background-color: #ffe4ec; /* Rosa claro estilo confeitaria */
  padding: 20px 0; /* Espaço acima e abaixo do texto */
  text-align: center; /* Centraliza todo o conteúdo */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); /* Sombra leve abaixo */
  border-bottom: 2px solid #ffc0cb; /* Linha de divisão abaixo */
}

.container__menu-title > h1 {
  margin: 0;
  font-size: 36px;
  font-family: 'Delius', cursive;
  color: #ff5f8a; /* Rosa escuro para o texto */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra no texto */
}

.container__menu-title > hr {
  width: 60px;
  margin: 10px auto;
  border: 1px solid #ffb6c1; /* Rosa bebê */
}
