<div class="container__content">

  <div class="content__title">
    <h1>{{ "Receita Torta Banoffe" }}</h1>
  </div>

  <div class="content__cover">
    <img src="assets/banner-banoffe.png" alt="Imagem do Banoffe" srcset="">
  </div>
  <div class="content__description">

    <p>
    <br><b>Ingredientes:</b>
    <br>
     <br> 200 g de bolacha maisena;
     <br> 100 g de manteiga amolecida;
     <br> banana nanica;
     <br> 4 bananas caturras maduras;
     <br> 2 latas de leite condensado;
     <br> 1 pote de nata;
     <br> 4 colheres (sopa) rasas de açúcar;
     <br>canela em pó a gosto;
     <br> achocolatado em pó a gosto.

    </p>

    <a [routerLink]="['']" class="router-link"> &#x27A1; VOLTAR &#x2B05; </a>

  </div>
</div>
